.form-container{
    width: 756px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #3333;
    padding: 20px;
}
.form-container h2{
    text-align: center;
}
.note-form{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.note-form input{
    padding: 10px;
    font-size: 18px;
}
.note-form input::placeholder{
    font-size: 18px;
    font-family:'Yeseva One', cursive;;
}
.note-form textarea{
    padding: 20px 10px;
}
.add-btn{
    background: #1DD6BA;
    border:none;
    color:#ffffff;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}