.header-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.logo a{
    color:#1DD6BA;
    font-size: 20px;
    text-decoration: none;
}
.add-note-btn a{
    background: #1DD6BA;
    border:none;
    padding: 6px 20px;
    color:#ffffff;
    text-decoration: none;
}